<!-- O arquivo home.htm é onde se coloca os codigos html -->
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Senai HTML</title>
</head>

<body>
    <h1> Variavel:{{nome}} Olá HTML no Django </h1> <!--Este variavel é uma variavel realmente que esta dentro do views.py na função home, então da para usar lógica no html que vem da sintaxe pyton -->
    <h2> Olá HTML no Django </h2>
</body>

</html>